
<nav
       id="main-navbar"
       class="navbar navbar-expand-lg navbar-light bg-white fixed-top"
       >
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
     

      <!-- Brand -->
      <a class="navbar-brand" href="#">
        <i class="fa-solid fa-shop"></i>
        <span style="margin-left: 8px;">Shop</span>
      </a>
      <!-- Search form -->
      <!-- <form class="d-none d-md-flex input-group w-auto my-auto">
        <input
               autocomplete="off"
               type="search"
               class="form-control rounded"
               placeholder='Search (ctrl + "/" to focus)'
               style="min-width: 225px"
               />
        <span class="input-group-text border-0"
              ><i class="fas fa-search"></i
          ></span>
      </form> -->
      <button type="button" class="btn btn-tertiary position-relative mx-4 mt-2">
        <a href="/cart" style="color: inherit;">
        <i class="fa-solid fa-cart-shopping"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-danger">
          99+
        </span>
        </a>
      </button>
<!--       
      <button type="button" class="btn btn-dark">
        <i class="fa-solid fa-cart-shopping mx-4"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-danger" style="color: red;">
          99+
        </span>
      </button> -->
    </div>

  </nav>
